.copyright {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  justify-content: space-between;
  background-color: #000000;
  padding: 10px;
  font-size: 12px;
}

.creador {
  color: rgba(218, 162, 65, 1);
  font-size: 12px;
}

.creador:hover {
  opacity: 0.55;
  color: rgba(218, 162, 65, 1);
}

.toTop {
    background-color: #EBEBEB30;
    padding-bottom: 47px;
    cursor: pointer;
    text-align: center;
}

.contactanos {
  color: white;
  text-decoration: underline;
  font-size: 12px;
}

.contactanos:hover {
  color: #ffffffb5;
}
