.copyright {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  justify-content: space-between;
  background-color: #525252;
  padding: 10px;
  font-size: 12px;
}

.creador {
  color: rgba(218, 162, 65, 1);
  font-size: 12px;
}

.toTop {
    background-color: #EBEBEB30;
    padding-bottom: 47px;
    cursor: pointer;
    text-align: center;
}
