.remember-me {
  display: flex;
  align-items: center;
  padding: 0px 15px;
}

label.remember-me {
  padding: 10px;
}

.recordarme {
  padding: 0 5px;
}

.contact100-more {
  background-position: right;
}

.hidden {
  display: none;
}

.input_form{
  outline: auto;
  border: 0.5px grey solid;
}
.main_form{
  width: 80%;
}
h2{
  text-align: center;
}
