* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

main {
  margin-top: 66px;
}

.row {
  align-items: center;
}

.titulo {
  padding: 15px;
}

.container {
  margin: 25px auto;
  text-align: center;
}

.oferta {
  color: #18bc9c;
  font-weight: 600;
}

.centrado {
  text-align: center;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.cantidad {
  max-width: 100px;
  height: 26px;
}

.errorForm  {
  color: red;
}

/* para persistir las flechitas del input number sin necesidad de hacerle hover */
input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
