/* Navbar */
a.navbar-brand {
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

nav {
  background-color: #25262a;
  box-shadow: 0 0 7px black;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

nav ul {
  align-items: center;
}

.nav-link {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

button.nav-link {
  background-color: #25262a;
  outline: none !important;
  border: none;

}

a:hover, button.nav-link:hover {
  color: #ffffffb5;
}

.nav-item:hover {
  color: #ffffffb5;
}

span.logo-bebas {
  font-family: "Bebas Neue";
  font-size: 36px;
  color: white;
}

span.logo-permanent {
  font-family: "Permanent Marker";
  font-size: 18px;
  margin-left: 40px;
  color: #daa241;
}

div.menu-principal {
  justify-content: space-around;
}

div.panel-usuario {
  justify-content: flex-end;
}

div.modal-dialog {
  position: relative;
  width: 90%;
  top: 100px;
}

div.modal-header {
  background-image: url("/img/yeezy4.png");
  height: 99px;
  background-size: cover;
  background-position: center;
}

.modal-content {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div.logo {
  justify-content: center;
}

img.bag-icon {
  width: 30px;
}

.burger {
  color: white;
}

.celu {
  display: block;
}

.desktop {
  display: none;
}

.label-input100, .form-text, .form-text a, .modal-title {
  font-family: Poppins-Regular, sans-serif;
}

.modal-title {
  color: white;
}

button span {
  color: white;
}

.modal-footer {
  justify-content: flex-start;
}

/* .btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: #977d2f9e;
  font-family: 'Montserrat-Bold';
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.4s;
  outline: none !important;
  border: none;
} */

.btn-secondary:hover {
  background: #404b46;
}

.btn-modal {
  font-family: "Oswald", sans-serif;
  color: white;
  overflow: visible;
  width: auto;
  background: none;
  margin: 0;
  padding: 0px 6px;
  border: none;
  position: relative;
  top: 1px;
}

.btn-modal:hover {
  color: #ffffffb5;
}

.contact100-form {
  padding: 0px 30px 55px 30px;
}

.fas {
  color: white;
}

@media (min-width: 992px) {
  .celu {
    display: none;
  }

  .desktop {
    display: none;
  }

  div.modal-dialog {
    width: 55%;
  }
}
