.producto {

}

.img-productos {
  max-width: 80%;
  padding: 5px 0px;
  max-height: 250px;
  object-fit: cover;
}

.padding {
  padding-bottom: 20px;
  padding-top: 20px;
}

a.ordenar {
  padding: 8px;
  margin: 10px;
  display: block;
  min-width: 122px;
  background-color: #977d2f9e;
  border-radius: 11px;
  color: white;
  font-family: Montserrat-Bold;
}

a.ordenar:hover {
  background: #404b46;
}

.hydrated {
  vertical-align: middle;
}

.marca {
  padding: 3px;
}

.nombre {
  padding: 3px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

 /* flechas del carousel */

.fa-angle-left, .fa-angle-right {
  color: #000000bf;
    font-size: 22px;
}

.precio {
  font-weight: 600;
}

.descuento {
  padding-top: 10px;
  position: absolute;
  right: -16px;
  top: -20px;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  display: table;
  color: white;
  line-height: 15px;
  background-color: red;
  border-radius: 50px;
}

.precioAnterior {
  font-weight: 600;
  text-decoration: line-through;
  color: red;
  padding-right: 6px;
}


/* .maincontainer{
  position: relative;
  height: 300px;
}
figure{margin: 0;}
.thecard{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  transform-style: preserve-3d;
  transition: all 1s ease;
}
.thecard:hover{
  transform: rotateY(180deg);
}
.thefront{
  max-width: 100%;
  left: 0px;
  bottom: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.theback{
  max-width: 100%;
  left: 0px;
  bottom: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
} */
