div.buscarTalle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mostrarTalles {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 7px;
  margin: 2px;
  flex-direction: row;
  width: 40px;
}

div.buscarTalle .active, .mostrarTalles:hover {
  color: grey;
  background-color: #7c7c8033;
}


.img-productos {
  height: 200px;
  object-fit: contain;
}

.padding {
  padding-bottom: 20px;
  padding-top: 20px;
}

a.ordenar {
  padding: 8px;
  margin: 10px;
  display: block;
  min-width: 134px;
  background-color: #977d2f9e;
  border-radius: 11px;
  color: white;
  font-family: Montserrat-Bold;
}

a.ordenar:hover {
  background: #404b46;
}

.hydrated {
  vertical-align: middle;
}


.marca {
  padding: 3px;
}

.nombre {
  padding: 3px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


 /* flechas del carousel */

.fa-angle-left, .fa-angle-right {
  color: #000000bf;
    font-size: 22px;
}

.precio {
  font-weight: 600;
  font-size: 20px;
  color: #666666;
}

.descuento {
  padding: 1px;
  position: absolute;
  right: 6%;
  top: 25px;
  min-width: 60px;
  height: 17px;
  text-align: center;
  vertical-align: middle;
  display: table;
  color: white;
  line-height: 15px;
  background-color: #c59258;
}

.precioAnterior {
  font-weight: 600;
  text-decoration: line-through;
  color: red;
  padding-right: 6px;
}


/* .maincontainer{
  position: relative;
  height: 300px;
}
figure{margin: 0;}
.thecard{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  transform-style: preserve-3d;
  transition: all 1s ease;
}
.thecard:hover{
  transform: rotateY(180deg);
}
.thefront{
  max-width: 100%;
  left: 0px;
  bottom: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.theback{
  max-width: 100%;
  left: 0px;
  bottom: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
} */

div.links-ayuda {
  text-align: left;
  margin-top: 80px;
}

section.producto {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 70px; */
  justify-content: space-evenly;
}

.w-100 {
  height: 200px;
  width: 100%!important;
  object-fit: contain;
}

section.informacion {
  margin-top: 50px;
}

section.imagenes {

}

div.imagen-principal {
  position: relative;
}

img.imagen-principal {
  max-height: 450px;
  max-width: 500px;
  width: 100%;
  object-fit: cover;
  border-bottom: 1px #8080804f solid;
}

.imagen-producto-peque {
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
}

div.detalles-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.disponibilidad {
  padding: 1px 5px;
  height: 13px;
  margin: 10px;
  text-align: -webkit-center;
  color: white;
  max-width: 64px;
  background-color: #18BC9C;
  font-size: 10px;
}

div.detalles-compra {
  display: flex;
  flex-direction: column;
}

.detalles {
  display: flex;
  flex-direction: row;
}

.talles {
  width: 47px;
  height: 26px;
  margin: 0px 8px
}

.cantidad {
  width: 55px;
  padding: 8px;
  height: 26px;
  margin: 0px 11px;
  border: grey solid 1px;
}

input {
	outline: none;
	border: none;
}

textarea:focus, input:focus {
  border-color: grey !important;
}

input:focus::-webkit-input-placeholder { color:grey; }
input:focus:-moz-placeholder { color:grey; }
input:focus::-moz-placeholder { color:grey; }
input:focus:-ms-input-placeholder { color:grey; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

.btn-ordenar {
  width: 100%;
  padding: 6px;
  margin: 8px 0px;
  background-color: #977d2f9e;
  border-radius: 11px;
  color: white;
  font-family: Montserrat-Bold;
}

.btn-ordenar:hover {
  color: white;
  background: #404b46;
}

div.solicitar-stock {
  width: 100%;
  padding: 6px;
  margin: 8px 0px;
  border-radius: 11px;
}

a.solicitar-stock {
  color: black;
  font-family: Montserrat-Bold;
}

a.solicitar-stock:hover {
  opacity: 0.6;
}

ion-icon.solicitar-stock {
  color: green;
}

button.botontabladetalles {
  color: black;
  font-size: 14px;
  font-family: Montserrat-Bold;
}

button.botontabladetalles:hover {
  opacity: 0.6;
}

div.icon-inner {
  color: green;
}

.mensajeErrorP{
  color:red;
}

.separador {
  border-bottom: 1px solid #607d8b63;
  padding: 10px;
  margin: 0 auto;
  width: 80%;
}

ul.redes {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

ul.redes li {
  padding: 2px;
}

.i-instagram:hover {color: #E03064;}
.i-Whatsapp:hover {color: #25d366;}
.i-mail:hover {color: #D74A2F;}
.i-phone:hover {color: #444444;}

/* Buscador */

.page-header {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.search-bar {
  width: 50%;
  margin: 20px auto
}

.input-group {
  border-radius: 0px;
}

.input-group-append {
  background-color: white;
  background-color: #eae2e2;
}
