/* SocialBar */

div.socialBar {
	position: fixed;
	right: 0;
	top:35%;
	z-index:2000;
}

div.socialBar ul {
	list-style:none;
  padding: 0;
}

div.socialBar ul li a {
	display:inline-block;
	color: #fff;
	background: #000;
	padding:10px 15px;
	text-decoration: none;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.socialBar ul li .icon-facebook {background:#516FA4;}
.socialBar ul li .icon-instagram {background:#E03064; border-bottom-left-radius: 15px;}
.socialBar ul li .icon-linkedin {background:#3A84AB;}
.socialBar ul li .icon-mail {background:#D74A2F;}
.socialBar ul li .icon-phone {background:#444444;}
.socialBar ul li .icon-whatsapp {background:#25d366; border-top-left-radius: 15px;}

div.socialBar ul li a:hover {
	/* padding: 10px 30px; */
	background: #000;
}

ion-icon {
  font-size: 25px;
}


div.socialBar .closebar {
	float: right;
	color: grey;
	/* background-color: black; */
	border: none;
	margin: 5px;
}



/* Media queries */

@media (min-width: 768px) {

  .socialBar ul li a {
    padding: 7px 10px;
  }

}

@media (max-width: 1024px){

	div.socialBar {
		top: auto !important;
	  bottom: 0;
	  text-align: center;
	  width: 100%;
	}

	.socialBar ul li .icon-instagram {border-bottom-left-radius: 0px; border-top-right-radius: 15px;}

	div.socialBar ul {
    list-style: none;
    padding: 0;
    justify-content: center;
    margin: 0;
    display: flex;
}

	.padre {
		background-color: #000000;
		height: 50.6px;
		width: 100%;
}
